/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.panel-heading-position {
    position: fixed;
}

.panel-heading {
    background-color: #3c8dbc !important;
    color: white !important;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-defautlt {
    cursor: default !important;
}

dt, dd {
    margin-bottom: 5px;
}

.color-legend {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
}

.not-active-user {
    background-color: #FF6347;
}

.active-user {
    background-color: #00FF7F;
}

.not-confirmed-user {
    background-color: #FFFF6B;
}

.mt20 {
    margin-top: 20px;
}

.container-override {
    padding-left: 1% !important;
    padding-top: 1% !important;
    margin-left: 0px !important;;
    margin-right: 0px !important;;
}