/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.panel-heading-position {
    position: fixed;
}

.panel-heading {
    background-color: #3c8dbc !important;
    color: white !important;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-defautlt {
    cursor: default !important;
}

dt, dd {
    margin-bottom: 5px;
}

.color-legend {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
}

.not-active-user {
    background-color: #FF6347;
}

.active-user {
    background-color: #00FF7F;
}

.not-confirmed-user {
    background-color: #FFFF6B;
}

.mt10 {
    margin-top : 10px;
}
.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt200{
    margin-top: 200px;
}

.container-override {
    padding-left: 1% !important;
    padding-top: 1% !important;
    margin-left: 0px !important;;
    margin-right: 0px !important;;
}

/* The CSS */
select {
    margin-bottom: 10px !important;
    padding:3px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.thumbnail-product {
    max-width: 200px;
    max-height: 150px;
    line-height: 20px;
    margin-bottom: 5px;

}

.product-image-preview {
    height: 130px;
}

.mb10 {
    margin-bottom: 10px;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.filled {
    color: #fd0;
}
.loadingAlert {
    background-color: white !important;
}