<div class="wrapper">

  <div ng-include="'pages/header.html'"></div>
  <div ng-include="'pages/navbar.html'"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper col-sm-12">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ 'CATEGORIES' | translate}}
        <small>{{ 'CATEGORIES_DESCRIPTION' | translate}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> {{ 'HOME' | translate}}</a></li>
        <li class="active">{{ 'CATEGORIES' | translate}}</li>
      </ol>
    </section>
    <section class="content">
      <!-- Nested node template -->
      <div class="col-sm-12">
        <div class="col-sm-5">
          <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle class="tree-node tree-node-content cursor-defautlt">
              <a class="btn btn-success btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag
                 ng-click="toggle(this)"><span
                class="glyphicon"
                ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
              {{node.name.localization[currentLang]}}
              <a ng-if="canBeDeleted(this)" class="pull-right btn btn-danger btn-xs" data-nodrag
                 ng-click="removeCategory(this)"><span
                class="glyphicon glyphicon-remove"></span></a>
              <a ng-if="canHaveSubcategories(this)" class="pull-right btn btn-primary btn-xs" data-nodrag
                 ng-click="newSubCategory(this,false)"
                 style="margin-right: 8px;"><span
                class="glyphicon glyphicon-plus"></span></a>
              <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="selectCategory(this)"><span
                ><i class="fa fa-pencil"></i></span></a>
            </div>
            <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
              <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
              </li>
            </ol>
          </script>

          <div class="row">
            <div class="col-sm-12">
              <button class="col-sm-6 btn btn-primary btn-padded btn-lg" ng-click="newSubCategory(null,true)">
                <i class="fa fa-plus"></i> {{ 'ADD_CATEGORY' | translate}}
              </button>
            </div>
            <div class="row">
            </div>
            <div ui-tree id="tree-root" data-drag-enabled="false">
              <ol ui-tree-nodes ng-model="categories">
                <li ng-repeat="node in categories" ui-tree-node ng-include="'nodes_renderer.html'"></li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div ng-if="selectedCategory" class="panel panel-info panel-heading-position">
            <div class="panel-heading col-sm-12">
              <div class="col-sm-4">{{ 'CATEGORY' | translate}}</div>
            </div>
            <div class="panel-body">
              <dl>
                <dt class="col-sm-6">{{ 'CATEGORY_NAME_ENGLISH' | translate}}</dt>
                <dd class="col-sm-6 text-center">
                  <input type="text" maxlength="64" class="form-control col-sm-12 text-left" ng-model="selectedCategory.name.localization[englishLangCode]"
                         placeholder="{{ 'ENTER_CATEGORY_NAME' | translate}}">
                  </input></dd>
                <dt class="col-sm-6">{{ 'CATEGORY_NAME_SERBIAN' | translate}}</dt>
                <dd class="col-sm-6 text-center">
                  <input type="text" maxlength="64" class="form-control col-sm-12 text-left" ng-model="selectedCategory.name.localization[serbianLangCode]"
                         placeholder="{{ 'ENTER_CATEGORY_NAME' | translate}}">
                  </input></dd>
                <dt ng-if="selectedCategory.level < 2" class="col-sm-6">{{ 'SUBCATEGORY_NUM' | translate}}</dt>
                <dd ng-if="selectedCategory.level < 2" class="col-sm-6 text-center">
                  {{selectedCategory.children.length}}
                </dd>
                <dt class="col-sm-6">{{ 'PRODUCTS_NUM' | translate}}</dt>
                <dd class="col-sm-6 text-center">{{selectedCategory.products.length}}</dd>

                <button class="pull-right btn btn-primary btn-padded" ng-click="saveCategory()"
                        ng-disabled="!selectedCategory.name.localization[englishLangCode].length || !selectedCategory.name.localization[serbianLangCode]">
                  <i class="fa fa-floppy-o"></i> {{ 'SAVE' | translate}}
                </button>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div ng-include="'pages/footer.html'"></div>
  <!-- /.content-wrapper -->
</div>

